<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>This is a Verification Link</h1>
  <h3>Please verify your link here : <a href='<%= link %>'>Click Here</a></h3>
  <h4>or copu and past below url</h4>
  <p>
    <%= link %>
  </p>
</body>

</html>